.container {
  margin: 20px;
  .announcement-content {
    .card {
      box-shadow: 0px 3px 8px rgb(142, 196, 244);
      &:hover {
        box-shadow: 0px 10px 40px rgb(93, 130, 162);
      }

      .p-icerik {
        width: 230px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
